.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 100px 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-radius: 10px;
  transition: 250ms;
}

.Modal {
  width: 820px;
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  align-self: baseline;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: -16px 32px;
}

.Title {
  font-size: 14px;
  font-weight: bold;
  user-select: none;
}

.Content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (prefers-color-scheme: dark) {
  .Modal {
    background-color: #212529;
  }
}
