.Assistant {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
  user-select: none;
  gap: 24px;
  min-width: 316px;
}

.Chat {
  flex: 1;
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.Form {
  display: flex;
}

.Title {
  font-size: 24px;
}
