.Assistant {
  display: flex;
  flex-direction: column;
  padding: 4px 0;
  user-select: none;
  gap: 24px;
  min-width: 316px;
}

.Chat {
  flex: 1;
  display: flex;
  gap: 4px;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.Form {
  display: flex;
}

.Title {
  font-size: 24px;
}

/* Custom scrollbar styles */
.Chat::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

.Chat::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 4px;
}

.Chat::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px;
}

.Chat::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb when hovered */
}
