.Button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  background-color: transparent;
  transition: 150ms;
  color: #adb5bd;
  padding: 0;
  gap: 12px;
}

.Button:hover {
  background-color: rgba(0, 0, 0, 0.025);
  transition: 150ms;
}

.Button:active {
  color: #6c757d;
}

.Button.Full {
  width: auto;
  padding: 0px 24px;
  background-color: #1371ff;
  background: linear-gradient(165deg, #689ff1, #1371ff, #1c60c5);
  color: #f8f9fa;
  min-width: 140px;
  font-size: 14px;
  font-weight: 500;
  filter: drop-shadow(0 2px 6px rgba(37, 83, 231, 0.25))
    drop-shadow(0 0px 24px rgba(37, 83, 231, 0.25));
}

.Button.Full:active {
  background-color: #1068eb;
  transform: scale(0.97);
}

@media (prefers-color-scheme: dark) {
  .Button {
    color: #495057;
  }

  .Button:hover {
    background-color: rgba(0, 0, 0, 0.125);
  }

  .Button:active {
    color: #ced4da;
  }
}
